@model LoanDetail.Models.RiskContentUnit
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">Employee Id</th>
            <th scope="col">Loan Account Number</th>
            <th scope="col">Customer Id</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    </table>